:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.bg {
  /* insert image */
  background-image: url(images/space.png);
  /* make image fit */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* placing/style for headshot image */
.headshot {
  width: 300px;
  max-width: 45%;
  margin: 12rem 0 0 7rem;
  border-radius: 6px;
}

/* layout for img/speech bubble */
.container1 {
  display: flex;
  align-items: center;
}


/* creates speech bubble apperance next to image */
body div div#quote-box {
  background-color: antiquewhite;
  opacity: .5;
  border-radius: 6px;
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: .2;
}