:root {
  font: 16px / 1 roboto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.bg {
  /* insert image */
  background-image: url(images/space.png);
  /* make image fit */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* placing/style for headshot image */
.headshot {
  width: 300px;
  max-width: 45%;
  margin: 12rem 0 0 7rem;
  border-radius: 6px;
}

/* layout for img/speech bubble */
.container1 {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}


/* creates speech bubble apperance next to image */
body div div#quote-box {
  background-color: antiquewhite;
  position: relative;
  opacity: .5;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: .2;
}

section div article blockquote {
  padding: 1rem 0;

}

#quote-box::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  border-width: 1em;
  border-left-color: antiquewhite;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-style: solid;
  transform: rotate(225deg);
}

ul li {
  list-style: none;
}

div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container2 ul li img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.container2 {
  background-color: rgba(0, 0, 0, 0.452);
  padding: .2rem 0;
}

.container3,
.container4 {
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem;
  border-radius: 10px;
}

.container3 {
  background-image: url("./images/react.png");
  padding-top: 4rem;
  background-position-y: 60%;
  background-position-x: center;
}

.container4 {
  background-image: url("./images/code.png");
  padding-top: 4rem;

}

div>article {
  background-color: white;
}

span {
  font-size: 1.2rem;
  font-weight: 100;
}

.footer-section {
  padding-top: 5rem;
  background-color: #031019;
}

.article-background-coloring {
  background-color: #ffffff;
}

.read-more-btn {
  float: right;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2281d5;
  border: none;
  border-radius: 15px;
}